body{
  font-family: "Helvetica", "Arial";
  width: 70%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.left {
 float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

ul.nav {
  list-style-type: none;
  display: inline;
}

div h1.header {
  display: inline;
}

div.header {
  display: inline;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #fbfcff;
  background-color: #1c6e8c;
  margin: 10px;
  padding: 10px;
}

li a:hover {
  text-decoration: none;
  background-color: #b4e1ff;
}

li a.active {
  background-color: #605856;
  !important;
}
